* {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.slider-wrapper {
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  max-width: 800px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 300px;
}

.slides-container {
  overflow: hidden;
  height: 300px;
  max-width: 200px;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 576px) {
  .slides-container {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .slides-container {
    max-width: 600px;
  }
}

.slide-arrow {
  position: absolute;
  /* display: flex; */
  /* justify-content: center; */
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  color: #a9a9a9;
  /* height: 4rem; */
  background-color: transparent;
  border: none;
  width: 4rem;
  font-size: 3rem;
  /* padding: 2px 4px; */
  cursor: pointer;
}

#slide-arrow-prev {
  left: 6px;
  /* padding-left: 0.25rem;
  border-radius: 50%; */
}

#slide-arrow-next {
  right: 6px;
  /* padding-left: 0.25rem;
  border-radius: 50%;  */
}

.slide {
  display: flex;
  width: 200px;
  text-align: center;
  height: 100%;
  /* flex: 1 0 100%; */
  padding: 12px;
}

/* .slide:nth-child(odd) {
  background-color: #b6b6b6;
}

.slide:nth-child(even) {
  background-color: #460048;
} */

/* @media screen and (min-width: 576px) {
  .slide {
    flex: 1 0 33.333%;
  }
} */

.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 12px;
  width: 200px;
  height: 100%;
  box-shadow: 0 0 6px 2px rgba(66, 66, 66, 0.16);
  border-radius: 2%;
}

.card__image img {
  border-radius: 50%;
}
